<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analisador de números</title>
</head>
<body>
    <header>
     <h1><strong>Consumindo Api</strong></h1>   
    </header>
    <section>
      <form>
        <label for="nome">Nome: </label>
        <input type="text" id="nome">
        <button (click)="cadastrarClientes()">cadastrar</button>
      </form>
      <table>
        <thead>
          <tr>Clientes: </tr>
        </thead>
        <tbody *ngIf="clientes$">
          <tr *ngFor="let item of clientes$"><td>ID: {{item.id}} - Nome: {{item.nome}}</td></tr>
        </tbody>
      </table>
    </section>
    <footer>
        <p> &copy; Jonathas</p>
    </footer>
</body>
</html>
